In [2]:
import pandas as pd
import numpy as np
df = pd.read_csv('Boston_housing_data.csv',dtype={'locationid':np.int64})
df.head(5)

,locationid,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,lstat,medv,date_appraised,locationzone,locationdistrict
0,101,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,NaN,296.0,15.3,4.98,24.0,2016-03-27,N3,N
1,102,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,NaN,242.0,17.8,9.14,21.6,2016-03-28,B2,B
2,103,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,4.03,34.7,2016-03-27,G3,G
3,104,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,NaN,222.0,18.7,2.94,33.4,2016-03-26,D2,D
4,105,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,5.33,36.2,2016-03-28,M3,M